PATH_add local/bin
condanew(){
    conda create -n $(basename $PWD)Env
    conda activate $(basename $PWD)Env
    mkdir local/env
    conda env export > local/env/environment.yml
    echo Environment created
}
condaload(){
    conda env create -f local/env/environment.yml || condanew
    conda activate $(basename $PWD)Env
    echo Environment $(basename $PWD)Env loaded
}

CONDA_BASE=$(conda info --base) ;
source $CONDA_BASE/etc/profile.d/conda.sh
conda activate $(basename $PWD)Env || condaload
echo Environment $(basename $PWD)Env activated