PATH_add workflow/scripts
export PRJ_ROOT=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

if [ -e workflow/env/env ]; then
    CONDA_BASE=$(conda info --base)
    source $CONDA_BASE/etc/profile.d/conda.sh
    conda activate workflow/env/env || echo "WARNING: Conda environment not loaded"
else
    echo "workflow/env/env does not exist, skipping conda environment activation."
    if [ -e workflow/env/env.yaml ]; then
        echo "Run dap build-env to create the local environment."
    else
        echo "The env file workflow/env/env.yaml is also missing."
        echo "Consider defining a workflow/env/env.yaml and then running dap build-env"
    fi
fi